* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    background-color: #005490;
    color: #fff;
    gap: 0.6rem;
}
.count {
    font-size: 2rem;
    border: 0.1rem double #fff;
    padding: 0.6rem
}
hr {
    width: 90%;
}
input {
    width: 90%;
    border-radius: 0.3rem;
    border: none;
    padding: 0.3rem 0.6rem;
}